*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    /* background-color: rgb(32, 31, 31);
     */
     background:url('bg.png') no-repeat center center/cover;
    }
h1{
    color:#e9f1ef;
    text-align: center;
    font-size: 50px;
    margin-top:px;
}
.card{
    width:400px;
    height:590px;
    /* max-width: 470px; */
    background:linear-gradient(160deg, #00feba,#5b548a);
    color:#fff;
    margin-top:20px;
    margin:auto;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    box-shadow: -5px -4px 15px 2px rgb(253, 252, 252);
}
.search{
    display: flex;
    justify-content: space-between;
}
.search input{
    border:0;
    outline: 0;
    background-color: #ebfffc;
    color:#555;
    padding:10px 25px;
    height:50px;
    width:320px;
    border-radius: 30px;
    flex:1;
    margin-right: 10px;
    font-size: 18px;
}
 .search button{
    border:0;
    outline:0;
    background-color: #ebfffc; 
    padding:17px;
    border-radius: 30px;
    
}
.weather img{
    position:absolute;
}
.weather-icon{
    width:170px;
    margin-top: 5px;
    margin-left: -80px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: 160px;
    margin-left:-120px;
}
.weather h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: -20px ;
    margin-left: 50px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    margin-top:70px;
    height:80px;
    width:150px;
    background-color:transparent;
    color:#555;
    /* border:1px solid black; */
    border-radius: 40px;
    padding-top:-100px;
}
.humidity{
  font-size: 20px;
  font-weight: 500;
  margin-top:20px;
  margin-left:0px;
  color:white;
  
}
.text-humidity{
    position: relative;
    font-size: 20px;
  font-weight: 700;
  margin-top:0px;
  margin-left:5px;
  color:#232020;
}
.humidity-icon{
    margin-left:-25px;
}

.Wind{
    font-size: 20px;
    font-weight: 500;
    margin-top:15px;
    margin-left:-10px;
    color:white;
  }
  .wind-speed{
    position:relative;
    font-size: 20px;
    font-weight: 700;
    margin-top:5px;
    margin-left:0px;
    color:#232020;
  }
  /* .wind-speed-icon{
    margin-left:-40px;
  } */
  .weather{
    display: none;
  }